
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.hackerone.com/start-hacking">🔨 Powered by HackerOne</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" title="Help improve Hacker101">💻 Edit this page</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a href="https://twitter.com/Hacker0x01">🎉 Follow us on Twitter</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
