
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.hackerone.com/start-hacking"><img src="/assets/logo_h1.png">Powered by HackerOne</a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/Hacker0x01"><img src="/assets/twitter.png"></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/Hacker0x01/hacker101"><img src="/assets/github.png"></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
