---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap/bootstrap";
@import "bootstrap/functions";
@import "variables";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";
