---
---

@import "{{ site.theme }}";

.powered-by {
	color: #c40d0d;
}

header h1:before {
	content: "";
}

header h1 {
	margin: 0 0 0 0;
}

a {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid;
}

a:hover {
	border-bottom: 1px dashed;
}
