---
---

@import "{{ site.theme }}";

.powered-by {
	color: #ec1075;
}

header h1:before {
	content: "";
}

header h1 {
	margin: 0 0 0 0;
}

a:not(.btn) {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid;
}

header a:not(.btn) {
	color: #b5e853;
	border-bottom: 0;
}

a:hover:not(.btn) {
	border-bottom: 1px dashed;
}

a.btn:hover {
	border-bottom: 2px solid rgba(0,0,0,0.7);
}

.btn-back {
	font-size: 4em;
}

h2 {
	margin-top: 1.5em;
}
