<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <title>Hacker101</title>
</head>
<body>
  <div class="hero">
    <div class="wrapper">
      <h1>{{ page.title }}</h1>
      {% if page.score %}
        <p>Severity: {{ page.score }}</p>
      {% endif %}
    </div>
  </div>
  <div class="wrapper">
    <a href="/" class="home">return home</a>
    
    {{ content }}

    <br>
    <a href="/" class="home">return home</a>
    <footer>
      <p><a href="https://www.hackerone.com/start-hacking" class="powered-by">Powered by HackerOne</a></p>
    </footer>
  </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49905813-8', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>