<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
{% seo %}
</head>
<body>
  <div class="hero">
    <div class="wrapper">
      <h1>Welcome to Hacker101!</h1>
      <p>Hacker101 is a free class for web security.  Whether you're a programmer with an interest in bug bounties or a seasoned security professional, Hacker101 has something to teach you.</p>
    </div>
  </div>
  <div class="wrapper">
    
    {{ content }}

  </div>
  <footer>
    <p><a href="https://www.hackerone.com/start-hacking">🔨 Powered by HackerOne</a> | <a href="https://github.com/Hacker0x01/hacker101">💻 Open Source</a> | <a href="https://twitter.com/Hacker0x01">🎉 Follow us on Twitter</a></p>
  </footer>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
